@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, #__next {
  min-height: 100vh;
  background-color: #151515;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-white hover:bg-secondary transition-colors;
}

.btn-secondary {
  @apply mt-0 text-white hover:border-b hover:-mb-1 mr-4;
}

.input {
  @apply w-full block px-4 py-1.5 text-lg font-normal text-gray-700 bg-white bg-clip-padding border-none transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none;
}